---
---
@import "{{ site.theme }}";

// This adds the missing styles for GitHub Alerts
.markdown-alert {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border-left: .25em solid #8b949e;
  background-color: #f6f8fa; 
  .markdown-alert-title {
    display: flex;
    font-weight: 500;
    align-items: center;
    line-height: 1;
  }
}
.markdown-alert-note { border-left-color: #0969da; }
.markdown-alert-tip { border-left-color: #1a7f37; }
.markdown-alert-warning { border-left-color: #9a6700; }