title: Geopackage-so Documentation
description: Technical documentation published from GitHub
remote_theme: pages-themes/primer

plugins:
  - jekyll-remote-theme
  - jekyll-relative-links
  - jekyll-github-metadata
  - jekyll-seo-tag
  - jekyll-feed
  - jekyll-gfm-admonitions

relative_links:
  enabled: true
  collections: true

markdown: kramdown
kramdown:
  input: GFM
  hard_wrap: false

defaults:
  - scope:
      path: ""
    values:
      layout: "default"

exclude:
  - README.md